__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.egg
*.wheel
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
venv/
.venv/
env/
ENV/
venv.bak/
node_modules/
.DS_Store
Thumbs.db
.idea/
.vscode/
.env

